<% include common/header.ejs %>

<div id="cart">
    <div class="order-header"><span class="zamovlenia">Замовлення</span><span class="pizza-count count2">1</span>
        <button class="small-text wipe"style="margin:0;border:0;background-color:white;">Очистити замовлення</button></div>
    <div class="cart-container"></div>
    <div class="order-footer">
        <div class="order-text"><span class="s1">Сума замовлення</span><span class="s2">99 грн.</span></div><div class="big-btn"><button href="#" class="btn btn-warning buy-btn-small firstBtn">Замовити</button></div></div>

</div>
<div class="container-fluid">
    <div class="row">
        <h2 class="header"><span class="a">Усі піци</span> <span class="pizza-count">8</span></h2>
        <div class="pizza-types"><a href="#" class="all-pizzas pizzaT" itemid="1">Усі</a>
            <a href="#" class="meat-pizzas pizzaT"itemid="2">М'ясні</a><a href="#" class="pine-pizzas pizzaT"itemid="3">З ананасами</a><a href="#" class="mush-pizzas pizzaT"itemid="4">З грибами</a><a href="#" class="sea-pizzas pizzaT"itemid="5">З морепродуктами</a><a href="#" class="vegan-pizzas pizzaT"itemid="6">Вега</a></div>

        <div class="left">


        </div>

    </div>

</div>

<% include common/footer.ejs %>