<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>
<div class="label-over label-top"><a href="#"onclick="window.location.href='/'"><span>PIZZA</span><span>KMA</span></a></div>
<div class="navbar navbar-fixed-top navbar-inverse">


    <div class="top-row">
        <div class="phone-number">(044) 222 5 222</div>
        <div class="days visible-md-inline-block visible-lg-inline-block">24 години/ 7 днів на тиждень</div>
        <div class="free-del visible-lg-inline-block">Безкоштовна доставка піци</div>
        <a href="#" class="btn btn-top btn-warning buy-btn-small">Ввійти</a>
    </div>
    <div class="bottom-row row">
        <a href="#" class="a hidden-xs">Піца</a></div>
</div>
